.welcome-message-container
  .welcome-message
    = raw @welcome_message

    .quick-actions-buttons
      = link_to current_ruling_entity_path do
        %button
          = t('see_current_entity')
      = link_to ruling_entities_path do
        %button
          = t('see_past_entities')

    .welcome-message-footer
      = raw t('project_description')
