#main-content
  -# Sub header with party name, politician and mandate period
  = render 'ruling_party_description', ruling_party: @ruling_party

  -# Tabs view
  %ul.promises-list.accordion-tabs-minimal
    - for category, promises in @ruling_party.promises.categorized
      %li.tab-header-and-content
        %a.tab-link{href: '#', class: ('is-active' if category == 0)}
          = t(category)
        .tab-content
          %ul.accordion
            - for promise in promises
              %li.promise
                %a.js-accordion-trigger
                  .status
                    %i.fa{class: "status-#{promise.status}", title: t(promise.status, scope: 'promise.status')}
                  .title
                    = promise.title
                .more-infos
                  = promise.description

  -# Global mandate statistics
  #mandate-statistics
    = t('days_in_office', nb_days: (DateTime.now - @ruling_party.mandate_start).to_i)
    - for promise_groups_counts in @ruling_party.promises.group(:status).count
      .status
        - status_name = Promise.statuses.key(promise_groups_counts[0])
        %i.fa{class: "status-#{status_name}", title: t(status_name, scope: 'promise.status')}
        = "#{t(status_name, scope: 'promise.status')}: #{promise_groups_counts[1]}"



