%p
  - if not @ruling_party
    Seems like there's no government. Anarchy !
  - else
    = @ruling_party.political_party.name
    lead by
    = @ruling_party.leader.name
    %hr
      -# TODO : We should only show categories for which @ruling_party has set promise
      - for category, id in PromiseSubject.categories.sort
        = category
    %hr
      - for promise in @ruling_party.promises.all.sort_by { |p| p.subject.category }
        %div
          = "[#{promise.status}] (#{promise.subject.category}) #{promise.title}"

